* {
  margin: 0px;
  padding: 0px;
}
#bigbox {
  position: relative;
  top: 0px;
  transition: top 1s;
}
#bigbox .page {
  background: url(images/bg.jpg);
  background-size: cover;
}
#bigbox .first {
  background: url(images/p1/p1_bg.png);
}
#bigbox .forth {
  position: relative;
  top: 0px;
  transition: all 1s;
}
#bigbox .forth .font {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 80%;
  background: url(images/p4/p4_t1.png);
  background-size: 100% 100%;
}
#bigbox .forth .map {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 80%;
  background: url(images/p4/p4_map.png);
  background-size: 100% 100%;
}
#bigbox .forth .map .sign {
  position: absolute;
  top: -15%;
  right: 18%;
  width: 24%;
  height: 35%;
  background: url(images/p4/p4_sign.png);
  background-size: 100% 100%;
  animation: signani infinite 2s;
  animation-delay: -2s;
  /* W3C 和 Opera */
  -moz-animation-delay: -2s;
  /* Firefox */
  -webkit-animation-delay: -2s;
  /* Safari 和 Chrome */
  transform-origin: 50% 100%;
}
@keyframes signani {
  20% {
    transform: scaleY(0.3);
  }
  0%,
  30%,
  50%,
  100% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.8);
  }
}
#bigbox .forth .arrow {
  position: absolute;
  bottom: 5%;
  width: 15%;
  height: 3%;
  left: 50%;
  margin-left: -7.5%;
  animation: topslide infinite 1s;
  background: url(images/jiantou.png);
  background-size: 100% 100%;
}
@keyframes topslide {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
#bigbox .fivth {
  position: relative;
}
#bigbox .fivth .sharediv {
  position: absolute;
  top: 2%;
  right: 5%;
  width: 20%;
}
#bigbox .fivth .sharediv .finger {
  background: url(images/p5/p5_finger.png);
  background-size: 100% 100%;
}
#bigbox .fivth .sharediv .share {
  margin-top: 2%;
  background: url(images/p5/p5_fenxiang.png);
  background-size: 100% 100%;
}
#bigbox .fivth .cont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  background: url(images/p5/p5_content.png);
  background-size: 100% 100%;
}
